<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о потребления электроэнергии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div class="row g-3">
        <div class="col-sm-12 alert alert-secondary text-center">
            <h5 class="alert-heading">Статистика потребления электроэнергии</h5>
            <a th:text="${'За период: ' + #dates.format(dateFrom, 'dd.MM.yyyy') + ' - ' + #dates.format(dateTo, 'dd.MM.yyyy')}"></a>
            <!--            <table class="table table-info table-bordered text-center table-hover" name="myTab">-->
            <!--                <tbody>-->
            <!--                <tr class="table-danger">-->
            <!--                    <td>Дата/Счетчик</td>-->
            <!--                    <th:each th:each="meter, indexMetersColumn : ${allMeters}">-->
            <!--                        <td th:text="${meter.name}"></td>-->
            <!--                    </th:each>-->
            <!--                </tr>-->
            <!--                <tr class="table-striped" th:each="datePeriod, indexDatePeriod : ${dateList}">-->
            <!--                    <td>-->
            <!--                        <a th:text="${#dates.format(datePeriod, 'dd.MM.yyyy')} + ' (' + ${#dates.format(datePeriod, 'EEEE')} + ')'"></a>-->
            <!--&lt;!&ndash;                        <a th:text="${#dates.format(datePeriod, 'EEEE')}"></a>&ndash;&gt;-->
            <!--                    </td>-->
            <!--                    <th:each th:each="meter, indexMetersRow : ${allMeters}">-->
            <!--                        <td th:if="${!meter.chekDateDataValue(datePeriod)}">-->
            <!--                            Данные не снимались-->
            <!--                        </td>-->
            <!--                        <th:if th:if="${meter.chekDateDataValue(datePeriod)}">-->
            <!--                            <th:each th:each="dataMeter, indexDataMeters : ${meter.allDataMeters}">-->
            <!--                                <td th:if="${dataMeter.dateOfDataMeter.getTime()/1000 == datePeriod.getTime()/1000}">-->
            <!--                                    <a th:text="${dataMeter.valueMeter}"></a>-->
            <!--                                    <a th:if="${dataMeter.differentWitPrevValue > 0 and indexDataMeters.index > 0}" th:text="${' (+' + dataMeter.differentWitPrevValue + ')'}"></a>-->
            <!--                                    <a th:if="${dataMeter.differentWitPrevValue <= 0 and indexDataMeters.index > 0}" th:text="${' (' + dataMeter.differentWitPrevValue + ')'}"></a>-->
            <!--                                </td>-->
            <!--                            </th:each>-->
            <!--                        </th:if>-->
            <!--                    </th:each>-->
            <!--                </tr>-->
            <!--                </tbody>-->
            <!--            </table>-->
            <table class="table table-info table-bordered text-center table-hover" name="myTab">
                <tbody>
                <tr class="table-danger">
                    <td rowspan="2">Дата/Счетчик</td>
                    <th:each th:each="meter, indexMetersColumn : ${allMeters}">
                        <td th:text="${meter.name}" colspan="2"></td>
                    </th:each>
                </tr>
                <tr>
                    <th:each th:each="meter, indexMetersColumn : ${allMeters}">
                        <td>Фактическое</td>
                        <td>Прогнозируемое</td>
                    </th:each>
                </tr>
                <tr class="table-striped" th:each="datePeriod, indexDatePeriod : ${dateList}">
                    <td>
                        <a th:text="${#dates.format(datePeriod, 'dd.MM.yyyy')} + ' (' + ${#dates.format(datePeriod, 'EEEE')} + ')'"></a>
                    </td>
                    <th:each th:each="meter, indexMetersRow : ${allMeters}">
                        <td th:if="${!meter.getAllValueDataMeters().containsKey(datePeriod)}">
                            Данные не снимались
                        </td>
                        <th:if th:if="${meter.getAllValueDataMeters().containsKey(datePeriod)}">
                            <th:each th:each="instance, indexDataMeters : ${meter.getAllValueDataMeters}">
                                <td th:if="${instance.key.getTime()/1000 == datePeriod.getTime()/1000}">
                                    <a th:text="${instance.value}"></a>
                                </td>
                            </th:each>
                        </th:if>
                        <td th:text="${meter.getPrognoses(datePeriod, yearsDataMeter)}">
                        </td>
                    </th:each>
                </tr>
                </tbody>
            </table>
            <a th:text="${'Фактически, кВт: ' + summaFact}"></a>
            <br>
            <a th:text="${'Плановая, кВт: ' + summaPrognoses}"></a>
            <br>
            <a th:text="${'Разница, кВт: ' + different}"></a>
            <br>

        </div>

        <div class="col-sm-3"></div>

        <div id="curve_chart" class="col-sm-6" style="width: 900px; height: 500px"></div>

        <div class="col-sm-3"></div>

        <!--        <div class="d-flex justify-content-start flex-wrap">-->
        <!--            <form class="form-row">-->
        <!--                <a th:if=${haveCurrentDataMeter} th:href="'/user/allMeters/meter-details/' + ${meter.id} + '/currentDataMeter/' + ${currentDataMeter.id}" class="btn btn-info">Текущее измерение</a>-->
        <!--                <a th:href="'/user/editMeter/' + ${meter.id}" class="btn btn-warning">Редактировать</a>-->
        <!--                <a th:href="'/user/allMeters'" class="btn btn-secondary mx-auto">Назад</a>-->
        <!--            </form>-->
        <!--            <form th:action="'/user/allMeters/meter-details/' + ${meter.id} +'/remove'" method="post">-->
        <!--                <button class="btn btn-danger mx-1" type="submit">Удалить</button>-->
        <!--            </form>-->
        <!--        </div>-->
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
<script th:inline="javascript">
google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
        var listFact = [];
        /*[# th:each="factValue : ${factForChart}"]*/
        listFact.push(/*[[${factValue}]]*/);
        /*[/]*/

        var listPrognoz = [];
        /*[# th:each="prognozValue : ${prognozForChart}"]*/
        listPrognoz.push(/*[[${prognozValue}]]*/);
        /*[/]*/

        var listDate = [];
        /*[# th:each="date : ${dateForChart}"]*/
        listDate.push(/*[[${date}]]*/);
        /*[/]*/

        var title = ['Дата', 'Факт.', 'Прогноз']
        var myData = [];
        myData.push(title);
        for(var i = 0; i < listDate.length; i++){
        var varArr = [];
           varArr.push(listDate[i], listFact[i], listPrognoz[i]);
           myData.push(varArr);
        }
        console.log(myData);



      function drawChart() {
        var data = google.visualization.arrayToDataTable(myData);

        var options = {
          title: 'График затрат электроэнергии',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);}

</script>
</html>